<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OpenRuCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <OpenRuCapture.Properties.Settings>
      <setting name="ShowInfoOnStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OutputFolder" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnableSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SoundFile" serializeAs="String">
        <value/>
      </setting>
      <setting name="Shortcuts" serializeAs="String">
        <value/>
      </setting>
      <setting name="EnableShortcuts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageFormat" serializeAs="String">
        <value>Png</value>
      </setting>
      <setting name="ExecuteAfterCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExecuteAfterCapturePlugin" serializeAs="String">
        <value/>
      </setting>
      <setting name="PromptToSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ScheduledCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludeCursor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilenameTemplate" serializeAs="String">
        <value>OpenRuCapture%TICKS%</value>
      </setting>
      <setting name="JpegQuality" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="LastCaptureMode" serializeAs="String">
        <value/>
      </setting>
    </OpenRuCapture.Properties.Settings>
  </userSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
